@import '../../../styles/base.scss';

.topics {
  @include block();
}

.list {
  @include bare-list;
  display: flex;
  flex-direction: column;
  gap: gap(medium);

  @include bp-min(small) {
    flex-direction: row;
    justify-content: space-between;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.item {
  display: flex;
  flex-grow: 0;
  margin: gap(medium);

  @supports (display: grid) {
    margin: 0;
  }
}

.topic {
  display: flex;
  flex-direction: column;
  padding: gap(medium) gap(medium) gap(medium-large);
  background-color: $white;
  box-shadow: $shadow-tiny;
}
.topic-title {
  @include text-large;
  @include sans-serif-font;
  margin: 0;
  font-weight: $bold;
}

.topic-text {
  margin: 0;
}
