@import '../../../styles/base.scss';

.text-media {
  @include block;
  @include row(large);
  display: grid;
  grid-template-areas:
    'image .'
    'title title'
    'text text';
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 gap(huge);
  align-items: center;

  @include bp-min(medium) {
    grid-template-areas:
      'image title'
      'image text';
  }
}
.text-media[data-order='image-text'] {
  @include bp-min(medium) {
    grid-template-areas:
      'title image'
      'text image';
  }
}

.title {
  @include heading-small;
  grid-area: title;
  align-self: end;
}
.text {
  @include constrain(small);
  @include text-medium-large;
  grid-area: text;
  align-self: start;
}
// Move element styling to separate component.
// .text ul,
// .text ol {
// }
.text li {
  margin: gap(medium) 0;
}
.text li::marker {
  color: $primary-color;
}

.image-container {
  grid-area: image;
}
