@import '../../../styles/base.scss';

.text-media {
  @include block;
  @include row(large);
  position: relative;
  display: grid;
  grid-template-areas:
    'image image'
    'title title'
    'text text';
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 gap(huge);
  align-items: center;

  @include bp-min(medium) {
    grid-template-areas:
      'image title'
      'image text';
  }
}

// Background
.wrapper[data-order='image-text'] .text-media::after {
  content: '';
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: -0.6rem;
  left: 3%;
  width: 69%;
  height: calc(100% + 2.3rem);
  background-color: $gray;
  background-image: url('/images/background.jpg');
  filter: grayscale(100%);

  @include bp-min(small) {
    left: 15%;
  }

  @include bp-min(medium) {
    top: 50%;
    left: 25%;
    width: 50%;
    height: 89%;
    transform: translateY(-50%);
  }
}

.wrapper[data-order='text-image'] .text-media {
  @include bp-min(medium) {
    grid-template-areas:
      'title image'
      'text image';
  }
}

.title {
  @include heading-small;
  grid-area: title;
  align-self: end;
}
.text {
  @include constrain(small);
  @include text-medium-large;
  grid-area: text;
  align-self: start;
}
// Move element styling to separate component.
// .text ul,
// .text ol {
// }
.text li {
  margin: gap(medium) 0;
}
.text li::marker {
  color: $primary-color;
}

.image {
  grid-area: image;
  width: 70vw;
  max-width: 30rem;

  @include bp-min(medium) {
    width: 100%;
    max-width: none;
  }
}

.wrapper[data-image-to-the-edge='true'] {
  position: relative;
}

.wrapper[data-image-to-the-edge='true'] .text-media {
  position: initial;
}
.wrapper[data-image-to-the-edge='true'] .text-media::after {
  content: none;
}

.wrapper[data-image-to-the-edge='true'] .image {
  @include bp-min(medium) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(50vw - #{gap(huge) / 2});
    height: 100%;
    object-fit: cover;
  }
}

.wrapper[data-image-to-the-edge='true'][data-order='text-image'] {
  @include bp-min(medium) {
    grid-template-areas:
      'title image'
      'text image';
  }
}

.wrapper[data-image-to-the-edge='true'][data-order='text-image'] .image {
  right: 0;
  left: auto;
}

.children {
  padding: 1px;
}
