/* stylelint-disable value-keyword-case */
$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$sans-serif: 'Poppins', $system-font;
$serif: 'Merriweather', serif;

$normal: normal;
$bold: 800;

@mixin numeric-font {
  font-family: $system-font;
}
@mixin sans-serif-font {
  font-family: $sans-serif;
  font-weight: $bold;
}
@mixin serif-font {
  font-family: $serif;
  font-weight: $normal;
}

@mixin heading-huge {
  @include sans-serif-font;
  font-size: rem(47);
  line-height: 1.1;

  @include bp-min($bp-l) {
    font-size: rem(89);
  }
}
@mixin heading-large {
  @include sans-serif-font;
  font-size: rem(40);
  line-height: 1.1;

  @include bp-min(medium) {
    font-size: rem(67);
  }
}
@mixin heading-medium {
  @include sans-serif-font;
  font-size: rem(33);
  line-height: 1.2;

  @include bp-min(medium) {
    font-size: rem(50);
  }
}
@mixin heading-small {
  @include sans-serif-font;
  font-size: rem(28);
  line-height: 1.2;

  @include bp-min(medium) {
    font-size: rem(38);
  }
}
@mixin heading-tiny {
  @include sans-serif-font;
  font-size: rem(23);
  line-height: 1.4;

  @include bp-min(medium) {
    font-size: rem(28);
  }
}

/**
  * Body
  */
@mixin text-large {
  @include serif-font;
  font-size: rem(17);
  line-height: 1.5;

  @include bp-min(medium) {
    font-size: rem(21);
  }
}
@mixin text-medium {
  @include serif-font;
  font-size: rem(16);
  line-height: 1.5;

  @include bp-min(medium) {
    font-size: rem(16);
  }
}
@mixin text-small {
  @include serif-font;
  font-size: rem(12);
  line-height: 1.3;

  @include bp-min(medium) {
    font-size: rem(14);
  }
}
