@import '../../../styles/base.scss';

.page-header {
}

.background-color {
  background-color: $gray;
}

.inner {
  @include block(large);
  @include row(large);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: rem(160);
}

.topics {
  margin-top: -3.5rem;
}
