@import '../../../styles/base.scss';

.background-color {
  @include pattern-background;
}

.inner {
  @include block(large);
  @include row-top(small);
  padding-bottom: 10rem;

  @include bp-min(small) {
    @include row-top(medium);
  }

  @include bp-min(medium) {
    @include row-top(large);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: rem(160);
    padding-bottom: 5rem;
  }
}

/**
 * Text container
 */
.text-container {
  @include constrain(small);
  padding-bottom: 6rem;
}
.title {
  @include heading-medium;
  margin: 0 0 gap(huge);
}

.text {
  @include text-medium-large;
  margin-bottom: 4rem;
}

/**
 * Image
 */
.image-container {
  max-width: rem(250);
  margin: 0 auto;
  padding: 0;

  @include bp-min(small) {
    max-width: rem(300);
    margin: 0;
  }
}

.image {
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 55, 85, 0.25);
}

.topics {
  margin-top: -3.5rem;
}
