@import '../../../styles/base.scss';

.button {
  @include text-large;
  @include bare-button;
  @include sans-serif-font;
  display: inline-block;
  padding: gap(small-medium) gap(medium-large);
  background-color: $primary-color;
  color: $white;
  font-weight: $normal;
  line-height: 1;
  transition: background-color $pace-quick $ease-in-out;
}

.button:focus,
.button:hover {
  background-color: $primary-color-darker;
}

.button[data-size='small'] {
  @include text-medium;
  @include sans-serif-font;
  font-weight: $normal;
  line-height: 1;
}
